/* место для вашего кода */

/* дополнительное обнуление и сетап */

body {
  width: 100wv;
  min-height: 100vh;
  font-size: 18px;
  line-height: normal;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

/* ограничивающий контейнер */

.content-section {
  /* для экранов шире 2К */
  max-width: 1440px;
  margin: 0 auto;
}

/*оверлей*/

.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay > * {
  position: relative;
  z-index: 200;
}

/* Шапка страницы*/

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 92px;
  padding-right: 49px;
  padding-bottom: 92px;
  padding-left: 51px;
}

/* логотип шапки */

.header__logo {
  width: 136px;
  height: 105px;
  justify-self: center;
  margin-bottom: 4px;
}

/* навигационное меню */

.header__menu {
  justify-self: start;
}

.header__menu-list {
  display: flex;
  gap: 32px;
}

.header__menu-list-item {
  list-style-type: circle;
}

.header__menu-list-item_no-bullet {
  list-style-type: none;
}

.header__link {
  text-underline-offset: 5px;
  white-space: nowrap;
}

/* список контактов */

.contacts {
  line-height: 1.35;
  text-underline-offset: 4px;
  max-width: 240px;
}

/* дополнительное выравнивание для шапки*/

.header__contacts {
  justify-self: end;
}

/* входная секция */

.cover {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  padding-top: 165px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

/*Заголовок входной секции*/

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* подзаголовок */

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.273;
  text-transform: uppercase;
  word-spacing: 18px;
}

/* кнопка "сделать ставку" */

.bet-button {
  display: block;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  font-size: 22px;
  text-transform: uppercase;
}

/* секция с лотами*/

.lots {
  padding-top: 180px;
  padding-right: 50px;
  padding-bottom: 183px;
  padding-left: 50px;
}

/* заголовок секции с лотами */

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

/* список карточек с лотами */

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1 0 430px;
  min-height: 450px;
}

/* карточка с лотом */

.card__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more {
  color: #000;
  font-size: 20px;
  text-underline-offset: 5px;
  padding-left: 40px;
}

/* секция "об аукционе" */

.about {
  display: flex;
  gap: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  padding-top: 63px;
  padding-right: 46px;
  padding-bottom: 63px;
  padding-left: 46px;
  margin-right: 95px;
  margin-left: 95px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about__text {
  margin-bottom: 25px;
  font-size: 20px;
}

.about__text:last-child {
  margin-bottom: 0;
}

/* подвал */

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-right: 50px;
  padding-bottom: 90px;
  padding-left: 50px;
  margin-top: 183px;
}

/* меню подвала */

.footer__menu-list {
  text-align: center;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

/* список социальных сетей */

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}

.footer__social-list-item {
  width: 50px;
}
